<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="70"
    android:versionName="0.7.0"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    package="ca.dnamobile.javalauncher"
    platformBuildVersionCode="35"
    platformBuildVersionName="15">
    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="35"/>
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <queries>
        <package
            android:name="com.fcl.plugin.mobileglues"/>
        <package
            android:name="com.bzlzhh.plugin.ngg"/>
        <package
            android:name="com.bzlzhh.plugin.ngg.angleless"/>
        <package
            android:name="com.fcl.plugin.renderer.mobileglues"/>
        <package
            android:name="com.fcl.plugin.renderer.ltw"/>
        <package
            android:name="com.fcl.plugin.renderer.gl4es"/>
        <package
            android:name="com.fcl.plugin.renderer.angle"/>
        <package
            android:name="com.fcl.plugin.renderer.mesa"/>
        <package
            android:name="com.fcl.plugin.driver.freedreno"/>
        <package
            android:name="com.fcl.plugin.driver.turnip"/>
        <package
            android:name="com.fcl.plugin.turnip"/>
        <package
            android:name="com.fcl.plugin.adreno"/>
        <package
            android:name="com.bzlzhh.plugin.driver.freedreno"/>
        <package
            android:name="com.bzlzhh.plugin.driver.turnip"/>
        <package
            android:name="com.bzlzhh.plugin.turnip"/>
        <package
            android:name="com.bzlzhh.plugin.adreno"/>
        <package
            android:name="com.tungsten.fcl.plugin.driver.freedreno"/>
        <package
            android:name="com.tungsten.fcl.plugin.driver.turnip"/>
        <package
            android:name="ca.dnamobile.renderer.litegles"/>
        <provider
            android:authorities="ca.dnamobile.renderer.litegles.settings"/>
        <package
            android:name="ca.dnamobile.javalauncher.ffmpeg"/>
        <package
            android:name="ca.dnamobile.javalauncher.ffmpeg.debug"/>
        <package
            android:name="ca.dnamobile.javalauncher.debug.ffmpeg"/>
        <package
            android:name="ca.dnamobile.javalauncher.ffmpegplugin"/>
        <package
            android:name="ca.dnamobile.javalauncher.ffmpegplugin.debug"/>
        <intent>
            <action
                android:name="ca.dnamobile.javalauncher.ffmpeg.PLUGIN"/>
        </intent>
        <intent>
            <action
                android:name="ca.dnamobile.javalauncher.FFMPEG_PLUGIN"/>
        </intent>
        <intent>
            <action
                android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
        <intent>
            <action
                android:name="android.speech.tts.engine.CHECK_TTS_DATA"/>
        </intent>
        <intent>
            <action
                android:name="android.speech.tts.engine.INSTALL_TTS_DATA"/>
        </intent>
        <package
            android:name="com.google.android.tts"/>
        <package
            android:name="com.samsung.SMT"/>
        <package
            android:name="com.svox.pico"/>
        <intent>
            <action
                android:name="android.intent.action.MAIN"/>
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW"/>
            <category
                android:name="android.intent.category.BROWSABLE"/>
            <data
                android:scheme="https"/>
        </intent>
    </queries>
    <uses-permission
        android:name="android.permission.VIBRATE"/>
    <permission
        android:name="ca.dnamobile.javalauncher.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="0x00000002"/>
    <uses-permission
        android:name="ca.dnamobile.javalauncher.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@7F10022A"
        android:label="@7F0F0022"
        android:icon="@7F0D0000"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="true"
        android:roundIcon="@7F0D0005"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:allowNativeHeapPointerTagging="false">
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
                <category
                    android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="droidbridge"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ca.dnamobile.javalauncher.SplashActivity"
            android:exported="true"
            android:screenOrientation="10"
            android:configChanges="0x00000230">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>
                <category
                    android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ca.dnamobile.javalauncher.MainActivity"
            android:exported="false"
            android:screenOrientation="10"
            android:configChanges="0x00000230"/>
        <activity
            android:name="ca.dnamobile.javalauncher.DroidBridgeStandaloneJarActivity"
            android:exported="false"
            android:process=":java_gui"
            android:screenOrientation="0"
            android:configChanges="0x00000CB0"
            android:hardwareAccelerated="false"/>
        <activity
            android:name="ca.dnamobile.javalauncher.InstanceShortcutActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:screenOrientation="10"
            android:configChanges="0x00000230"
            android:noHistory="true"/>
        <activity
            android:name="ca.dnamobile.javalauncher.InstancePickerActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:screenOrientation="10"
            android:configChanges="0x00000230"
            android:noHistory="true">
            <intent-filter>
                <action
                    android:name="ca.dnamobile.javalauncher.action.PICK_INSTANCE"/>
                <category
                    android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ca.dnamobile.javalauncher.launcher.DroidBridgeLaunchActivity"
            android:exported="false"
            android:screenOrientation="10"
            android:configChanges="0x00000230"/>
        <activity
            android:name="ca.dnamobile.javalauncher.ModpackUpdateDetailsActivity"
            android:exported="false"
            android:screenOrientation="10"/>
        <activity
            android:name="ca.dnamobile.javalauncher.LauncherSettingsActivity"
            android:exported="false"
            android:screenOrientation="10"
            android:configChanges="0x00000230"/>
        <activity
            android:name="ca.dnamobile.javalauncher.InstanceDetailsActivity"
            android:exported="false"
            android:screenOrientation="10"
            android:configChanges="0x00000230"/>
        <activity
            android:name="ca.dnamobile.javalauncher.ContentBrowserActivity"
            android:exported="false"
            android:screenOrientation="10"
            android:configChanges="0x00000230"/>
        <activity
            android:name="ca.dnamobile.javalauncher.input.GamepadMappingTransferActivity"
            android:exported="false"
            android:screenOrientation="10"
            android:configChanges="0x00000230"/>
        <activity
            android:name="ca.dnamobile.javalauncher.ContentProjectDetailsActivity"
            android:exported="false"
            android:screenOrientation="10"
            android:configChanges="0x00000230"/>
        <activity
            android:name="ca.dnamobile.javalauncher.settings.SimpleVoiceChatPermissionActivity"
            android:exported="false"
            android:screenOrientation="6"/>
        <activity
            android:name="ca.dnamobile.javalauncher.fancymenu.MicrosoftAuthActivity"
            android:exported="false"
            android:screenOrientation="3"
            android:configChanges="0x00000FB0"/>
        <activity
            android:name="ca.dnamobile.javalauncher.ErrorActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:screenOrientation="6"
            android:configChanges="0x00000FF8"/>
        <activity
            android:name="ca.dnamobile.javalauncher.GameActivity"
            android:exported="false"
            android:process=":game"
            android:screenOrientation="6"
            android:configChanges="0x00000FF8"/>
        <activity
            android:name="ca.dnamobile.javalauncher.controls.ControlsActivity"
            android:exported="false"
            android:screenOrientation="6"
            android:configChanges="0x000004A0"/>
        <activity
            android:name="ca.dnamobile.javalauncher.controls.ControlsEditorActivity"
            android:exported="false"
            android:screenOrientation="6"
            android:configChanges="0x000004A0"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="ca.dnamobile.javalauncher.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@7F120000"/>
        </provider>
        <provider
            android:name="ca.dnamobile.javalauncher.storage.DroidBridgeDocumentsProvider"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:exported="true"
            android:authorities="ca.dnamobile.javalauncher.documents"
            android:grantUriPermissions="true">
            <intent-filter>
                <action
                    android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>
        <service
            android:name="ca.dnamobile.javalauncher.installation.InstallationForegroundService"
            android:exported="false"
            android:foregroundServiceType="0x00000001"/>
        <activity
            android:theme="@7F100223"
            android:name="net.openid.appauth.AuthorizationManagementActivity"
            android:exported="false"
            android:launchMode="2"
            android:configChanges="0x00000DB0"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@7F090008"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="ca.dnamobile.javalauncher.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action
                    android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@7F100284"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
    </application>
</manifest>
